@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Orbitron:700');

body {
  background: #eee;
  font-family: Georgia;
  margin: 0;
  padding: 50px;
}

body > div {
  width: 65%;
  max-width: 750px;
  margin: 1em auto;
}

.input {
  text-align: center;
}

.big-lorem-ipsum {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: red;
}

.input {
  margin-bottom: 1em;
}

input {
  padding: 10px 20px;
  font-size: 15px;
}

.tabs {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
}

.tabs div {
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}

.tabs .loading {
  font-family: 'Orbitron', sans-serif;
  border: none;
}

.loading {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.tabs div.active {
  background-color: #ccc;
}

.list {
  border-top: 1px solid;
  height: 55vh;
  overflow: auto;
  padding: 1em 20px 0;
}

.list:before {
  content: ' ';
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  position: relative;
  float: right;
  margin: 0 5px 5px 0;
}

.list.display-list:before {
  content: 'Saved';
}

.list > div {
  border: solid 1px;
  border-radius: 20px;
  clear: both;
  display: flex;
  font: 20px 'Open Sans', sans-serif;
  justify-content: space-between;
  left: 0;
  margin-bottom: .5em;
  padding: 10px;
  position: relative;
  top: 0;
  transition: left 1s, top .3s;
}

.list > div.transitioned {
  transition: none;
}

.list a {
  text-decoration: none;
  color: #333;
}

.list a:hover {
  opacity: 0.7;
}

.favorite-button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.favorite-button:before {
  content: '\f3a5';
  font-family: 'Font Awesome 5 Free';
  font-weight: 500;
  display: block;
}

.favorite-button.favorite:before {
  font-weight: 900;
  color: red;
}

.hidden {
  display: none !important; 
}
